@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Oxanium:wght@200..800&display=swap");

$primary-color: #fbc702;
$secondary-color: #010101;
$background-dark: #101010;
$background-dark2: #1a1a1a;
$background-light: #f9f9f9;
$underline: #606060;
$white-color: #fff;
$gray-text: #bfbfbf;
$accent-color: #916e57;
$gray-color: #2e2e2e;
$light-bg-color: #eed5d6;
$accent-color: #ebc702;
$border-radius: 8px;
$text-color: #333;

$font-primary: Oxanium, sans-serif;
$font-secondary: Teko, sans-serif;
$font-blinker: Blinker, sans-serif;

$transition: 0.3s all ease;
$transition-hover: $transition ease-in-out;

$icon-size: 71px;
$icon-padding: 10px;
$padding-top-mobile: 2.5rem;
$padding-top-desktop: 11.625rem;
$padding-bottom-mobile: 2.5rem;
$padding-bottom-desktop: 12.125rem;
$aspect-ratio-16-9: 2.21;